bin

build

namachan/solver/dlang/\.atom-build\.yml
namachan/solver/dlang/dub\.selections\.json
namachan/solver/dlang/procon-solver
namachan/solver/dlang/procon-solver-test-library
namachan/solver/dlang/.vscode/

# binary file
*.o
*.out
*.exe

*.a
*.lib

*.so
*.dll

# log file
*.log
