<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='simple.css')}}">
  </head>
  <body class="siimple-bg--navy">
      <div class="siimple-grid">
        <div class="simple-grid-row">
            <div class="siimple-bg--blue siimple-h1">
                Dash Board
            </div>
        </div>
        <div class="siimple-grid-row">
            <div class="siimple-bg--white siimple-grid-col siimple-grid-col--12">
                <div class="siimple-h2">Download Form</div>
                <p class="siimple-p" align="center">
                    <button class="siimple-btn siimple-btn--navy" onclick="download()">
                        Download
                    </button>
                </p>
            </div>
        </div>
      </div>
  </body>
  <script type="text/javascript">
  function download() {
      handleDownload('piece.json');
      handleDownload('frame.json');
  }
  function handleDownload(name) {
      var a = document.createElement('a');
      a.download = name;
      a.href = '/download/' + name;
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
  }
  </script>
</html>